body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("country-quilt-dark.png");
}

.carousel-inner img {
  margin: auto;
}

.navbar {
  margin-bottom: 150px;
}